@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    box-sizing: border-box;

}
body{
    background-color: rgb(2, 18, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: cornsilk;
}


.seat{
 background-color: lavender;
 margin: 5px;
    height: 15px;
    width: 14px;
    border-top-left-radius: 5px;border-top-right-radius: 5px;


}
.seatoccupied{
    background-color: rgb(125, 132, 134);
    margin: 5px;
    height: 15px;
    width: 14px;
    border-top-left-radius: 5px;border-top-right-radius: 5px;



}
.seatselected{
    background-color: lightseagreen;
    margin: 5px;
    height: 15px;
    width: 15px;
    border-top-right-radius: 5px;
border-top-left-radius: 5px;}
.row{

    display: flex;
    position: relative;
    top: 10px;
    align-items: center;

}
.info{
    position: relative;
    top: 20px;
}
.row :nth-of-type(2){
    margin-right: 18px;
}
.row :nth-last-of-type(2){
    margin-left: 18px;
}
.row :not(.seatoccupied):hover{
    cursor: pointer;
    transform: scale(1.2);

}
.s{
    list-style: none;
    position: relative;
    left: -30px;
    display: flex;
    
    padding: 5px 35px;
    justify-content: space-between;

    
    background-color: rgba(100, 100, 100, 1.2);}
    li{ display: flex;
        position: relative;
       
        margin: 10px;
        justify-content: center;
    }
    small{
        position: relative;
        top: 6px;
    }
    .screen{
        height: 80px;
        width: 200px;
        background-color: seashell;
        
        transform: rotateX(-48deg);
        box-shadow:  0px 10px 80px rgba(125, 132, 134 , 0.75);
        
    }
    .info span{
        color: rgb(20, 196, 250);
    }